[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SmartGit/Hg 4.5
GenericName=SmartGit/Hg - Git&Hg-Client + SVN-support
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
Exec="/opt/smartgithg-4_5_4/bin/smartgithg.sh"
Icon=syntevo-smartgithg.png
